body {
    padding: 10px 5% 50px;
    font-family: 'Georgia,serif';
}

.link-list a {
    display: inline-block;
    margin: 5px 20px;
    text-decoration: none;
}

.label {
    display: inline-block;
    margin-left: 5px;
}

.pic-list img {
    display: block;
    border: 1px solid gray;
    margin: 5px auto;
}
