---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Card, Collapse } from 'antd';
import Resume from '../components/Resume.jsx';

---

<!doctype html>
<html lang="en">

<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
    <main>
        <h1>刘虎</h1>
        <Resume client:load />
    </main>
</body>

</html>

</html>