@media screen and (max-width: 500px) {
    :root {
        --content-max-width: 100%;
    }
}
@media screen and (min-width: 500px) {
    :root {
        --content-max-width: 85%;
    }
}

:root {
    --var-bg-color: #0066CC;
    --heading-color: var(--var-bg-color);
    --copycode-background: var(--var-bg-color);
    --code-inline-color: red!important;
    --code-inline-background: white!important;
    --link-color: var(--var-bg-color);
    --link-text-decoration-color--hover: gray;
    --sidebar-nav-strong-margin: 0px;
    --sidebar-nav-strong-padding: 10px 0px 8px 0px;
    --sidebar-nav-strong-font-size: 16px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: red !important;
}

body {
    --docsifytabs-border-color: var(--var-bg-color);
    --docsifytabs-tab-highlight-color: var(--var-bg-color);
    --sidebar-nav-link-color--active: var(--var-bg-color);
}

img:not(.emoji) {
    margin: 0 auto;
    display: block;
    width: 50%;
}

table tr,
table tbody {
    border: 1px solid #CCCCCC;
}