---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Writer. All rights reserved.
	<div class="social-links">
		<a href="https://www.baidu.com/" target="_blank">
			百度一下
		</a>
		<a href="https://www.google.com/" target="_blank">
			Google Search
		</a>
		<a href="https://www.bing.com/" target="_blank">
			Bing搜索
		</a>
	</div>
</footer>
<style>

</style>
