<!DOCTYPE html>
<html lang="en">

<head>
    <title>JSON</title>
    <script src="/assets/framework.js"></script>
</head>

<body></body>
<template id="template">
    <div class="row justify-content-start" style="margin-bottom: 10px;">
        <div class="col-10">
            <button class="btn btn-primary btn-sm" @click="showJSONList">选择JSON</button>
            <span v-if="currentName.length > 0" style="margin-left: 20px; margin-right: 20px; display: inline-block;">
                当前JSON：{{currentName}}
            </span>
            <button class="btn btn-danger btn-sm" @click="showJSONList"  v-if="currentName.length > 0" >删除</button>
        </div>
    </div>
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">JSON数据</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group" id="list-group-id">
                <template v-for="item in jsonList">
                    <a href="javascript:;"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        @click="this.setJSON(item)">
                        {{item}}
                        <span class="badge bg-primary rounded-pill btn">14</span>
                    </a>
                </template>
            </ul>
        </div>
    </div>
    <div id="jsoneditor" style="width: 100%; height: calc(100vh - 100px);"></div>
    <div style="position:fixed; bottom: 50%; right: 2%; z-index: 10000;">
        <button type="button" @click="this.saveJSON2" class="btn btn-primary">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            保存
        </button>
    </div>
</template>

<script>
    function getInitJSON() {
        try {
            let value = localStorage.getItem("json-editor") || '{}'
            return JSON.parse(value)
        } catch (e) {
            return {}
        }
    }
    window.VueObject = {
        data() {
            return {
                jsonList: [],
                currentName: '',
            }
        },
        template: '#template',
        canvas: null,
        editor: null,
        async mounted() {
            await this.initGetJSON()
            this.canvas = new bootstrap.Offcanvas('#offcanvasExample')
        },
        methods: {
            async initGetJSON() {
                const container = document.getElementById("jsoneditor")
                const options = {
                    "mode": "code",
                    "search": true,
                    "indentation": 4,
                    "onChangeText": (json) => {
                        try {
                            JSON.parse(json)
                            localStorage.setItem("json-editor", json)
                        } catch (e) {

                        }
                    }
                }
                this.editor = new JSONEditor(container, options, getInitJSON())
            },
            async saveJSON2() {
                if (this.currentName.length === 0) {
                    bootbox.prompt("请输入名称", (fname) => {
                        if (fname == null || fname == '') {
                            return true
                        }
                        localStorage.setItem("JSON-" + fname, JSON.stringify(this.editor.get()))
                        this.currentName = fname
                    })
                } else {
                    localStorage.setItem("JSON-" + this.currentName, JSON.stringify(this.editor.get()))
                }
            },
            async setJSON(item) {
                let content = localStorage.getItem('JSON-' + item)
                try {
                    let data = JSON.parse(content)
                    this.editor.set(data)
                    this.currentName = item
                } catch (e) {
                }
                this.canvas.hide()
            },
            async deleteJSON(item) {
                alert('Delete JSON')

            },
            async showJSONList() {
                let list = []
                for (var key in localStorage) {
                    if (key.indexOf("JSON-") === 0) {
                        let name = key.replace("JSON-", "")
                        list.push(name)
                    }
                }

                this.canvas.show()
                this.jsonList = list
            }
        }
    }
</script>

</html>