<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>时间</title>
    <script src="https://unpkg.com/dayjs@1.11.3/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
    <script src="https://unpkg.com/vue@next"></script>


<body>
    <div style="margin:20px auto;width:95%">
        <ol class="breadcrumb">
            <li> <a href="/" class="active">首页</a></li>
            <li>时间</li>
        </ol>
        <div id="app"></div>

        <template id="template">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>当前时间</strong>
                        </div>
                        <div class="panel-body">
                            时间戳
                            <input type="number" class="form-control" placeholder="时间戳" v-model="nowTs" @input="transTs">
                            时间
                            <input type="text" class="form-control" placeholder="时间" v-model="nowTime">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>时间戳转换时间</strong>
                        </div>
                        <div class="panel-body">
                            请输入时间戳
                            <input type="number" class="form-control" placeholder="时间戳" v-model="ts" @input="transTs">
                            时间
                            <input type="text" class="form-control" placeholder="时间" v-model="tsTime">
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>时间转换时间戳</strong>
                        </div>
                        <div class="panel-body">
                            请输入时间
                            <input type="text" class="form-control" placeholder="时间" v-model="time" @input="transTime">
                            时间戳
                            <input type="number" class="form-control" placeholder="时间戳" v-model="timeTs">
                        </div>
                    </div>
                </div>
            </div>

        </template>
        <script text="text/javascript">
            $(document).ready(function () {
                var vm = Vue.createApp({
                    data() {
                        return {
                            "nowTs": dayjs().unix(),
                            "nowTime": dayjs().format("YYYY-MM-DD HH:mm:ss"),
                            "ts": 0,
                            "tsTime" : "",
                            "time" : dayjs().format("YYYY-MM-DD HH:mm:ss"),
                            "timeTs" : dayjs().unix(),
                        }
                    },
                    template: '#template',
                    methods: {
                        async transTs() {
                            this.tsTime = dayjs.unix(this.ts).format("YYYY-MM-DD HH:mm:ss")
                        },
                         async transTime() {
                            this.timeTs = dayjs(this.time).unix()
                        }
                    }
                })
                vm.mount('#app')
            })
        </script>
    </div>
</body>

</html>